params {
    analysis_root="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/scratch/CB-MAS-Seq_figure_yl/Analysis"
    sample="ONT_sample1B"
    length_range="0-500"

    workdir="trans.0-500.run1"
    txdir="ONT_sample1B/data/trans.0-500.80"

    txlist="data/trans.80.list"
    
    bamfile="/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/data/data/MASseq/nanopore/wf-single-cell-YL/Cribbs.run2/Earlham1BPBMC_Ian/bams/Earlham1PBMC_Iain.merged.sorted.bam"
    reffile="refdata-gex-GRCh38-2024-A_prebuilt/CDS/genes.coding.CDS.bed"

    infocsv="ONT_sample1B/data/unique_read_assignments.ENST.80.tsv"
    rseqcout="rseqc_output"
    moleculeout="molecules_output"
    genebodyout="geneBodyCoverage_output"
    emptylistout="emptylist_output"
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    name='slurm'
    queueSize=200
    pollInterval='2 min'
    queueStatInterval='2 min'
    exitReadTimeout='5 min'
    dumpInterval='2 min'
}

process {
    queue='ei-short'
    memory='5G'
    cpus = 1

    withLabel:singularity_eimap {
        container = "/ei/projects/f/f4e517e2-faa5-488e-82ef-66c09af5aff9/scratch/CB-MAS-Seq_figure_yl/Software/RSeQC/5.0.1_mod/RSeQC_mod.ubuntu.img"
    }

    withName: ExtractMoleculeBam {
        cpus = 4
        queue='ei-short'
        memory='50G'

    }
}

timeline {
  enabled = true
  overwrite = true
}
report {
  enabled = true
  overwrite = true
}
trace {
  enabled = true
  overwrite = true
}
